<strong>Olá, {{ deliverymanName }} </strong>
<p>Uma nova encomenda foi postada e está esperando sua retirada!</p>
<p>Confira o endereço de entrega abaixo: </p>

<p>
  <strong>Destinatário: </strong> {{ recipientName }} <br>
  <strong>Rua: </strong> {{ street }} - N° {{ number }} <br>
  <strong>Cidade/Estado: </strong> {{ city }} - {{ state }} <br>
  <strong>CEP: </strong> {{ zip_code }} <br>
</p>
